{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<div class="home-container">
  <div class="img-container desktop">
    <img src="../static/images/undraw_book_lover_mkck.svg" alt="read-book" />
  </div>
  <div class="text-container">
    <div class="text-wrapper">
      <h1>You Got Books!</h1>
      <div class="img-container mobile">
        <img
          src="../static/images/undraw_book_lover_mkck.svg"
          alt="read-book"
        />
      </div>
      <p>
        Find an interesting book to read with our website and add them to your
        reading list!
      </p>
    </div>
  </div>
</div>
{% endblock%}
